// Place all the styles related to the Interview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#firepad {
  width: 700px;
  height: 450px;
}

.interview {
	border: 2px groove #E5DDD9;
	border-radius: 3px;
	box-shadow: 5px 5px 35px #BFB8B5;
	padding: 5px 20px;
	margin: 15px 0;
}

.right {
	text-align: right;
}