// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post {
	padding: 50px;
	textarea {
		min-height: 100px;
	}
}

#interview-requests {
	padding: 50px;
	.interview-request {
		border: 2px groove #E5DDD9;
		border-radius: 3px;
		box-shadow: 5px 5px 35px #BFB8B5;
		padding: 5px 20px;
		margin: 15px 0;
	}
}