// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
	text-align: center;
}

#new_user {
	border: 3px groove #E5DDD9;
  padding: 30px 50px;
  border-radius: 3px;
  box-shadow: 7px 13px 45px grey;
}